.contact {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
@media (max-width: 500px) {
  .contact {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
}
.contact header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.6rem;
  font-weight: bold;
  background: #828282;
  padding: 5px;
  width: 100%;
}
.contact header .company {
  padding: 10px 50px;
  color: #ffffff;
}
.contact header .company h3 {
  font-size: 2.4rem;
}
.contact header .company h3 a {
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 500px) {
  .contact header .company h3 {
    font-size: 3.2rem;
  }
}
.contact header .main-nav {
  position: relative;
  left: 2px;
  padding: 10px 50px;
  top: 5px;
}
.contact header .menu {
  text-align: center;
  display: none;
  position: relative;
  line-height: 75px;
  width: 100%;
  top: 60px;
  right: 10px;
  border: 1px solid black;
}
.contact header .menu a {
  border: 1px solid green;
  text-decoration: none;
}
.contact header .menu a li {
  font-size: 6.4rem;
}
.contact .contact-header-img img {
  width: 100%;
}
.contact .contact-header-img h1 {
  position: relative;
  bottom: 80px;
  left: 60px;
  font-size: 6.4rem;
  font-weight: bold;
  color: #ffffff;
  width: 90%;
}
.contact .main-content {
  display: flex;
  flex-direction: row;
}
.contact .main-content .input-info {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
.contact .main-content .input-info .welcome-text {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0 50px 20px 50px;
}
.contact .main-content .input-info form {
  width: 100%;
  font-size: 1.6rem;
  margin: 10px 50px;
}
.contact .main-content .input-info input {
  width: 80%;
  border-radius: 5px;
  margin: 10px 50px;
  padding: 10px 0;
}
.contact .main-content .input-info .disclaimer {
  margin: 0px 50px;
}
.contact .main-content .input-info textarea {
  width: 80%;
  margin: 0 50px;
  padding: 20px;
}
.contact .main-content .input-info .radio-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 46px;
}
.contact .main-content .input-info .radio-btn label {
  font-size: 1rem;
  margin: 10px 0;
}
.contact .main-content .input-info .radio-btn #small-business {
  width: 5%;
  margin: 10px 0;
}
.contact .main-content .input-info .radio-btn #residential {
  width: 5%;
  margin: 10px 0;
}
.contact .main-content .input-info .radio-btn #corporation {
  width: 5%;
  margin: 10px 0;
}
.contact .main-content .input-info .submit-btn {
  margin: 20px 50px 10px 50px;
  padding: 10px 30px;
  background: #ffffff;
  border: 1px solid black;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 20px;
  cursor: default;
}
.contact .main-content .input-info .submit-btn:hover {
  background: black;
  color: #ffffff;
}
.contact .main-content #locations {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 200px;
}
.contact .main-content #locations div {
  margin-bottom: 20px;
}
.contact .main-content #locations .location-header {
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 40px;
}
.contact .main-content #locations .city {
  margin-bottom: 10px;
  font-weight: bold;
}
.contact .main-content #locations address {
  width: 55%;
  padding: 10px 0;
  line-height: 1.5;
}
