/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", Arial, sans-serif;
}
.home {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
.home .header header {
  background: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 5px;
}
.home .header header .company {
  color: #fff;
  padding: 10px 50px;
}
.home .header header .menu {
  text-align: center;
  padding: 10px 30px;
}
.home .header header .menu ul {
  padding: 10px;
}
.home .header header .menu ul li {
  align-content: space-evenly;
  text-decoration: none;
  margin: 0 10px;
  color: #fff;
  line-height: 1.6;
}
.home .title {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  background-image: url("https://github.com/omendez30/User-Interface-Project-Week/blob/master/img/home/home-jumbotron.png?raw=true");
  height: 61.5vh;
  background-repeat: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-start;
}
.home .title h1 {
  width: 40%;
  margin: 30px 50px;
  padding: 10px;
  align-items: space-evenly;
  line-height: 1.4;
}
.home .description {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home .description img {
  width: 50%;
  padding: 5px 10px;
  align-content: space-around;
  margin-top: 60px;
  margin-bottom: 20px;
}
.home .description h3 {
  font-size: 2.8rem;
  font-weight: bold;
  flex-direction: column;
  padding: 20px 20px;
  margin-top: 20px;
  width: 100%;
  align-content: flex-end;
}
.home .description p {
  flex-direction: column;
  font-size: 1.6rem;
  padding: 5px 10px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 95%;
}
.home .description h4 {
  font-size: 1.3rem;
  border: 1px solid #222222;
  margin: 5px 20px;
  padding: 10px 10px;
  text-align: center;
  width: 30%;
  font-weight: 500;
}
.home .description .bottom-img {
  width: 100%;
  margin-top: 50px;
}
.home .description div .recent-project-content {
  width: 50%;
  align-items: center;
  padding: 10px;
  margin-left: 200px;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.home .description .villa {
  position: relative;
  bottom: 50px;
  left: 67.5%;
  width: 30%;
  padding: 20px;
  text-align: center;
  background: #d8d8d8;
  font-size: 20px;
}
.home .description .outskirts {
  position: relative;
  bottom: 50px;
  width: 30%;
  padding: 20px;
  text-align: center;
  background: #d8d8d8;
  font-size: 20px;
}
.home .description .blocks {
  position: relative;
  bottom: 50px;
  left: 67.5%;
  width: 30%;
  padding: 20px;
  text-align: center;
  background: #d8d8d8;
  font-size: 20px;
}
.home footer {
  background: #828282;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
}
/* Your Code Goes Here */
