/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", Arial, sans-serif;
}
.home {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
.home header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.6rem;
  font-weight: bold;
  background: #828282;
  padding: 5px;
  width: 100%;
}
.home header .company {
  color: #fff;
  padding: 5px 50px;
}
.home header .company h3 {
  font-size: 2rem;
}
@media (max-width: 500px) {
  .home header .company h3 {
    font-size: 6.4rem;
  }
}
.home header .main-nav {
  position: relative;
  cursor: pointer;
}
.home header .main-nav .dropdown-button {
  padding: 15px;
  position: static;
}
.home header .main-nav .dropdown-button .hide-btn {
  display: none;
}
.home header .menu {
  width: 100%;
  position: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background: #828282;
  color: #ffffff;
}
.home header .menu a {
  color: #ffffff;
}
.home header .menu-link {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 6.4rem;
  text-decoration: none;
}
.home header .menu-hidden {
  display: none;
}
.home .title {
  font-size: 6.4rem;
  font-weight: bold;
  color: #fff;
  background-image: url("https://github.com/omendez30/User-Interface-Project-Week/blob/master/img/home/home-jumbotron.png?raw=true");
  height: 100%;
  width: 100%;
  background-repeat: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-start;
}
@media (max-width: 500px) {
  .home .title {
    height: 100vh;
    background-image: url("https://github.com/omendez30/User-Interface-Project-Week/blob/master/img/home/home-jumbotron.png?raw=true");
    height: 100%;
    width: 100%;
  }
}
.home .title h1 {
  width: 40%;
  margin: 30px 50px;
  padding: 10px;
  align-items: space-evenly;
  line-height: 1.4;
}
@media (max-width: 500px) {
  .home .title {
    font-size: 3.2rem;
  }
}
@media (max-width: 500px) {
  .home section {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid green;
  }
}
.home section .description {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 500px) {
  .home section .description {
    width: 100%;
    flex-direction: column-reverse;
  }
}
.home section .description img {
  width: 50%;
  padding: 5px 10px;
  align-content: space-around;
  margin-top: 60px;
  margin-bottom: 20px;
}
.home section .description h3 {
  font-size: 2.8rem;
  font-weight: bold;
  flex-direction: column;
  padding: 20px 20px;
  margin-top: 20px;
  width: 100%;
  align-content: flex-end;
  border: 1px solid darkblue;
}
.home section .description p {
  flex-direction: column;
  font-size: 1.6rem;
  padding: 5px 10px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 95%;
}
.home section .description h4 {
  font-size: 1.3rem;
  border: 1px solid #222222;
  margin: 5px 20px;
  padding: 10px 10px;
  text-align: center;
  width: 30%;
  font-weight: 500;
}
.home section .description h4:hover {
  background: #222222;
  color: #ffffff;
}
.home section .description .bottom-img {
  width: 100%;
  margin-top: 50px;
}
.home section .description div .recent-project-content {
  width: 50%;
  align-items: center;
  padding: 10px;
  margin-left: 200px;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.home section .description .villa {
  position: relative;
  bottom: 50px;
  left: 67.5%;
  width: 30%;
  padding: 20px;
  text-align: center;
  background: #d8d8d8;
  font-size: 20px;
}
.home section .description .outskirts {
  position: relative;
  bottom: 50px;
  width: 30%;
  padding: 20px;
  text-align: center;
  background: #d8d8d8;
  font-size: 20px;
}
.home section .description .blocks {
  position: relative;
  bottom: 50px;
  left: 67.5%;
  width: 30%;
  padding: 20px;
  text-align: center;
  background: #d8d8d8;
  font-size: 20px;
}
.services {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
@media (max-width: 500px) {
  .services {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.services header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.6rem;
  font-weight: bold;
  background: #828282;
  padding: 5px;
  width: 100%;
}
.services header .company {
  padding: 10px 50px;
  color: #ffffff;
}
.services header .company h3 {
  font-size: 2.4rem;
}
@media (max-width: 500px) {
  .services header .company h3 {
    font-size: 3.2rem;
  }
}
.services header .main-nav {
  position: relative;
  left: 2px;
  padding: 10px 50px;
  top: 5px;
}
.services header .menu {
  text-align: center;
  display: none;
  position: relative;
  line-height: 75px;
  width: 100%;
  top: 60px;
  right: 10px;
  border: 1px solid black;
}
.services header .menu a {
  border: 1px solid green;
  text-decoration: none;
}
.services header .menu a li {
  font-size: 6.4rem;
}
.services .service-header-img img {
  width: 100%;
}
.services .service-header-img h1 {
  position: relative;
  bottom: 80px;
  left: 60px;
  font-size: 6.4rem;
  font-weight: bold;
  color: #ffffff;
}
.services p {
  font-size: 1.6rem;
  line-height: 2.4;
  margin: 0 20px;
  margin-bottom: 20px;
}
.services .section .tabs {
  flex-direction: row;
}
.services .section .tabs .tabs-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0;
  font-size: 2.4rem;
}
.services .section .tabs .tabs-links .tabs-link {
  border: 1px solid #222222;
  border-top: 2px solid #222222;
  border-right: 2px solid #222222;
  font-weight: bold;
  padding: 10px 10px;
  cursor: pointer;
}
.services .tab-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.services .tab-items .tab-item {
  display: flex;
  padding: 5px;
  display: none;
}
.services .tab-items .tab-item .tab-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 20px;
}
.services .tab-items .tab-item .tab-item-title {
  flex-direction: column;
  font-size: 2.4rem;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 10px;
}
.services .tab-items .tab-item .tab-description {
  flex-direction: column;
  width: 100%;
}
.services .tab-items .tab-item .tab-description p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.contact {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
@media (max-width: 500px) {
  .contact {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.contact header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.6rem;
  font-weight: bold;
  background: #828282;
  padding: 5px;
  width: 100%;
}
.contact header .company {
  padding: 10px 50px;
  color: #ffffff;
}
.contact header .company h3 {
  font-size: 2.4rem;
}
.contact header .company h3 a {
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 500px) {
  .contact header .company h3 {
    font-size: 3.2rem;
  }
}
.contact header .main-nav {
  position: relative;
  left: 2px;
  padding: 10px 50px;
  top: 5px;
}
.contact header .menu {
  text-align: center;
  display: none;
  position: relative;
  line-height: 75px;
  width: 100%;
  top: 60px;
  right: 10px;
  border: 1px solid black;
}
.contact header .menu a {
  border: 1px solid green;
  text-decoration: none;
}
.contact header .menu a li {
  font-size: 6.4rem;
}
.contact .contact-header-img img {
  width: 100%;
}
.contact .contact-header-img h1 {
  position: relative;
  bottom: 80px;
  left: 60px;
  font-size: 6.4rem;
  font-weight: bold;
  color: #ffffff;
}
.contact .main-content {
  display: flex;
  flex-direction: row;
}
.contact .main-content .input-info {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
.contact .main-content .input-info .welcome-text {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 20px 50px;
}
.contact .main-content .input-info form {
  width: 100%;
  font-size: 1.6rem;
  margin: 10px 50px;
}
.contact .main-content .input-info input {
  width: 100%;
  border-radius: 5px;
  margin: 10px 50px;
  padding: 5px 0;
}
.contact .main-content .input-info .disclaimer {
  margin: 0px 50px;
}
.contact .main-content .input-info textarea {
  width: 100%;
  border: 1px solid green;
  margin: 0 50px;
  padding: 20px;
}
footer {
  background: #828282;
  font-size: 1.4rem;
  line-height: 2.6;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 30px;
}
footer p {
  font-weight: bold;
  margin-left: 5px;
}
footer .cities {
  display: flex;
  flex-direction: column;
  width: 40%;
}
footer .cities address {
  padding-right: 61px;
  font-size: 1.2rem;
}
footer .inquireies {
  margin-right: 30px;
  width: 100%;
}
footer .inquireies .email-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 1.4rem;
  background: #828282;
  color: #ffffff;
}
